body {
  margin: 2em;
}
#inputAnswerDiv{
	margin-top: 5em;
}

#profile{
    text-align: center;
}
em{
    color: #eea236;
    font-weight: bold;
    font-style: normal;
}
.calendar-text { font-size: .4em; }

.scoreInfo{
    color: #eea236 !important;
}
.profile-gameHistory th, .profile-gameHistory td{
    font-size: 1.2em;
}

/*Friends List*/

#friendsDropdown {
  min-width:auto;
  width:100%;
}

#friendsList{
	height: calc(100vh - 105px);
    margin-bottom: 0;
}

#chatBox{
	position: fixed;
    bottom: 0;
    
    left: 0;
    right: 0;
}

#friendsList > div.panel-body{
	height:inherit;
}

#chatDisplay{
	height: calc(100vh - 160px) !important;
    overflow-y: scroll !important;
}

#chatDisplay > div > div.col-md-3.col-xs-3.avatar{
	padding:0;
}

#chatDisplay p{
	word-wrap: break-word;
}
label{
    font-size: 1.5em;
}
#chatBox{
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}
/*iPhone5*/
@media screen and (min-width: 320px) {
	#inputAnswer{
	margin-top: 0;
	}
    .nav.nav-tabs{
      font-size: 0.9em
  }
  body{
      margin: 0.5em;
  }
  	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.5em;
	}
	.modal{
		padding: 0.5em;
		font-size: smaller !important;
	}
	#inGame{
		font-size: smaller !important;
	}
}

/*iPhone6 and above*/
@media screen and (min-width: 375px) {
	.nav.nav-tabs{
		font-size: 1em
	}
	body{
		margin: 0.5em;
	}
	label{
		font-size: 1em;
	}
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.5em;
	}
	.modal{
		padding: 0.7em;
	}
}