<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Awesome Game Profile</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> <!-- https://silviomoreto.github.io/bootstrap-select/examples/-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="css/bootswatch.css">
      <link rel="stylesheet" href="css/index.css">
      <link rel="stylesheet" href="css/game.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <link href='//fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
   </head>
   <body ng-app="indexApp">
      <div ng-controller="indexCtrl">
          <!--use show and hidden classes to go between inLobby and inGame-->
          <div id="inLobby" class="well well-lg"> 
                <h1 class="text-center">{{currentgame_title}}</h1>
                    <div class="list-group" id="inGameUser">
                      
                    <a id="#lobbyCreator" href="#" class="list-group-item text-center clearfix">
                        <span>{{host.name}}</span>
                        <span class="label label-info pull-left">Creator</span>
                        <span class="pull-right">
                        <button class="list-group-item-text btn-danger btn btn-sm disabled pull-right">Revoke Invite</button>
                        </span>
                    </a>
                    <a href="#" class="list-group-item text-center clearfix" ng-repeat="user in users">
                        <span class="userInGame">{{user.name}}</span>
                        <span class="label label-success pull-left">Accepted</span>
                        <span class="pull-right">
                        <button class="list-group-item-text btn-danger btn btn-sm disabled pull-right">Revoke Invite</button>
                        </span>
                    </a>
                    </div>
                <button class="btn btn-primary" ng-click="startGame()">Start Game</button>
                <button class="btn btn-default" ng-click="cancelGame()">Cancel Game</button>
          </div>
          <div id="inGame" class="hide">
              <h1 class="text-center">{{currentgame_title}}</h1>

              
              <div class="row">
                  <div class="col-sm-12 gameInfo well">
                      <!--users-->
					  <div class="text-center margin-bottom">
            <h3 id="roundNumber" class='text-center'></h3>
            <h3 id="countdown" class='text-center label-default'></h3>
						<h3>Score:</h3>
						<span class="fa-stack fa-5x ">
						<span class="fa fa-superpowers fa-stack-2x scoreInfo"></span>
						<span id="playerScore" class="fa-stack-1x calendar-text scoreInfo">{{Score}}</span>
						</span>
					  </div>
					  <hr>
                    <div id="startGameUsers">
                      <h4 class="scoreList"><span>{{host.name}}</span><span class="label label-success pull-right">{{host.score}}</span></h4>
                      <h4 ng-repeat="user in users" class="scoreList"><span class="userInStartGame">{{user.name}}</span><span class="label label-default pull-right">{{user.score}}</span></h4>
                    </div>
                  </div>
                  <div id="divGameplay"class="col-sm-12">
                      <h2 id="question">{{question}}</h2>
                      <div id="answers">
                        <h4  ng-click="keepScore(answer)" ng-repeat="answer in allAnswers">{{answer}}</h4>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="js/moment.js"></script>
      <script src="https://cdn.rawgit.com/mckamey/countdownjs/master/countdown.min.js" type="text/javascript"></script>
        <script src="js/template.js"></script> 
      <!-- // <script src="js/gameCtrl.js"></script>   -->
      <script src="js/chat.js"></script>
      <script src="js/share.js"></script>
      <script src="js/logout.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
      <script src="https://use.fontawesome.com/fd9dba5260.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
</html>